body {
    background-image: url(../images/backgroundpic.jpg);
    background-repeat: no-repeat;
}
.container{
    color: white;
    text-emphasis: bold;
}
h1{
    color: white;
    text-emphasis: bold;
}
h2{
    color: whitesmoke;
    text-emphasis: bold;
}